@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  height: 100dvh;
}

@layer base {
  h1 {
    font-size: unset;
    font-weight: unset;
    @apply font-bold text-2xl;
  }
}
