@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  height: 100dvh;
}

input {
  @apply px-2 rounded-lg  border-b-2 transition-all;
}

label {
  @apply text-sm;
}

input:focus {
  outline: none;
  border-bottom-color: rgba(0, 0, 255, 0.596);
}
